fastapi
uvicorn[standard]
sqlalchemy[asyncio]
psycopg2-binary
pydantic
pydantic-settings
httpx
python-multipart
asyncpg
qdrant-client
pypdf
tiktoken
alembic

pytest
pytest-asyncio

ijson
PyYAML
redis
boto3

